In [84]:
import pandas as pd
file_csv = pd.read_csv("2017_jun_final.csv")
file_csv.head
print(file_csv)

         N                 Должность Язык.программирования Специализация  \
0        1        Junior QA engineer                   NaN     Manual QA
1        2        Junior QA engineer                   NaN     Manual QA
2        3         Software Engineer               C#/.NET           NaN
3        4         Software Engineer            JavaScript           NaN
4        5  Senior Software Engineer            JavaScript           NaN
...    ...                       ...                   ...           ...
8699  8700               QA engineer                   NaN     Manual QA
8700  8701                 Marketing                   NaN           NaN
8701  8702  Junior Software Engineer            Ruby/Rails           NaN
8702  8703                 Team lead                   NaN           NaN
8703  8704  Senior Software Engineer                  Java           NaN

     Общий.опыт.работы Опыт.работы.на.текущем.месте  Зарплата.в.месяц  \
0                  0.5                          0.5               400
1     меньше 3 месяцев             меньше 3 месяцев               430
2                    4                            1              2500
3                    5                            4              2000
4       10 и более лет                          0.5              4500
...                ...                          ...               ...
8699                 1             меньше 3 месяцев               700
8700               0.5                          0.5               400
8701                 1                          0.5               800
8702                 6                            4              2600
8703                 7                            2              5000

      Изменение.зарплаты.за.12.месяцев    Город     Размер.компании  ...  \
0                                    0  Харьков       до 10 человек  ...
1                                  130  Харьков  свыше 1000 человек  ...
2                                  800     Киев     до 1000 человек  ...
3                                  400   Одесса      до 200 человек  ...
4                                  500   Другой       до 10 человек  ...
...                                ...      ...                 ...  ...
8699                               700   Одесса       до 50 человек  ...
8700                               120     Киев       до 50 человек  ...
8701                               500    Львов       до 10 человек  ...
8702                                 0    Днепр  свыше 1000 человек  ...
8703                               800   Одесса     до 1000 человек  ...

     Еще.студент Уровень.английского                    Предметная.область  \
0           True       ниже среднего                         iOS,eCommerce
1           True       выше среднего                        Веб-разработка
2          False             средний  Веб-разработка,Корпоративные системы
3          False       ниже среднего   Desktop Applications,Веб-разработка
4          False             средний   Desktop Applications,Веб-разработка
...          ...                 ...                                   ...
8699       False             средний          Android,Desktop Applications
8700       False       ниже среднего                             eCommerce
8701       False       выше среднего  Веб-разработка,Корпоративные системы
8702       False         продвинутый                       Финансы и банки
8703       False       выше среднего                        Веб-разработка

          Дата.заполнения                                         User.Agent  \
0     12/06/2017 12:38:08  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
1     12/06/2017 12:42:51  Mozilla/5.0 (iPad; CPU OS 10_2_1 like Mac OS X...
2     12/06/2017 13:02:47  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
3     12/06/2017 13:03:01  Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...
4     12/06/2017 13:03:47  Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_2 like...
...                   ...                                                ...
8699  12/07/2017 15:45:24  Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:54....
8700  12/07/2017 17:00:06  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
8701  12/07/2017 17:32:26  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...
8702  12/07/2017 18:14:59  Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.3...
8703  12/07/2017 21:28:57  Mozilla/5.0 (iPad; CPU OS 10_3_2 like Mac OS X...

       exp current_job_exp salary Валюта  cls
0      0.5             0.5    400    NaN   QA
1      0.0             0.0    430    NaN   QA
2      4.0             1.0   2500    NaN  DEV
3      5.0             4.0   2000    NaN  DEV
4     10.0             0.5   4500    NaN  DEV
...    ...             ...    ...    ...  ...
8699   1.0             0.0    700    NaN   QA
8700   0.5             0.5    400    NaN  NaN
8701   1.0             0.5    800    NaN  DEV
8702   6.0             4.0   2600    NaN   PM
8703   7.0             2.0   5000    NaN  DEV

[8704 rows x 25 columns]

In [62]:
shape_info = file_csv.shape
print(f"Кількість рядків: {shape_info[0]}\nКількість стовпців: {shape_info[1]}")

Кількість рядків: 8704
Кількість стовпців: 25

In [63]:
dataframe = file_csv.dtypes
print(dataframe)

N                                     int64
Должность                            object
Язык.программирования                object
Специализация                        object
Общий.опыт.работы                    object
Опыт.работы.на.текущем.месте         object
Зарплата.в.месяц                      int64
Изменение.зарплаты.за.12.месяцев      int64
Город                                object
Размер.компании                      object
Тип.компании                         object
Пол                                  object
Возраст                               int64
Образование                          object
Университет                          object
Еще.студент                            bool
Уровень.английского                  object
Предметная.область                   object
Дата.заполнения                      object
User.Agent                           object
exp                                 float64
current_job_exp                     float64
salary                                int64
Валюта                               object
cls                                  object
dtype: object

In [64]:
df_percentage = (file_csv.isnull().sum() / len(file_csv)) * 100
print(df_percentage)

N                                    0.000000
Должность                            0.000000
Язык.программирования               44.232537
Специализация                       82.938879
Общий.опыт.работы                    0.000000
Опыт.работы.на.текущем.месте         0.000000
Зарплата.в.месяц                     0.000000
Изменение.зарплаты.за.12.месяцев     0.000000
Город                                0.000000
Размер.компании                      0.000000
Тип.компании                         0.000000
Пол                                  0.000000
Возраст                              0.000000
Образование                          0.000000
Университет                          4.113051
Еще.студент                          0.000000
Уровень.английского                  0.000000
Предметная.область                   2.562040
Дата.заполнения                      0.000000
User.Agent                           0.000000
exp                                  0.000000
current_job_exp                      0.000000
salary                               0.000000
Валюта                              99.885110
cls                                 18.083640
dtype: float64

In [78]:
# Видаліть усі стовпці з пропусками, крім стовпця "Мова програмування"
delf = file_csv.drop(["N", "Должность", "Специализация", "Общий.опыт.работы", "Опыт.работы.на.текущем.месте", "Зарплата.в.месяц", "Изменение.зарплаты.за.12.месяцев", "Город", "Размер.компании", "Тип.компании", "Пол", "Возраст", "Образование", "Университет", "Еще.студент", "Уровень.английского", "Предметная.область", "Дата.заполнения", "User.Agent", "exp",  "current_job_exp",  "salary", "Валюта",  "cls"], axis=1)
print(delf)

     Язык.программирования
2                  C#/.NET
3               JavaScript
4               JavaScript
6                  C#/.NET
7                      C++
...                    ...
8692                  Java
8694               C#/.NET
8695                Python
8701            Ruby/Rails
8703                  Java

[4854 rows x 1 columns]

In [85]:
delf_percentage = (delf.isnull().sum() / len(delf)) * 100
print(delf_percentage)

Язык.программирования    0.0
dtype: float64

In [82]:
# Видаліть усі рядки у вихідній таблиці за допомогою методу dropna
print(delf_percentage.dropna(how='all'))

Язык.программирования    0.0
dtype: float64

In [86]:
# Визначте новий розмір таблиці за допомогою методу shape
shape_sec = delf_percentage.shape
print(shape_sec)

(1,)

In [92]:
# Створіть нову таблицю python_data, в якій будуть тільки рядки зі спеціалістами, які вказали мову програмування Python
python_data = file_csv[file_csv['Язык.программирования'] == 'Python']
print(python_data)

         N                 Должность Язык.программирования Специализация  \
12      13         Software Engineer                Python           NaN
68      69         Software Engineer                Python           NaN
87      88  Junior Software Engineer                Python           NaN
114    115  Junior Software Engineer                Python           NaN
143    144  Junior Software Engineer                Python           NaN
...    ...                       ...                   ...           ...
8546  8547         Software Engineer                Python           NaN
8625  8626         Software Engineer                Python           NaN
8635  8636  Senior Software Engineer                Python           NaN
8673  8674  Junior Software Engineer                Python           NaN
8695  8696         Software Engineer                Python           NaN

     Общий.опыт.работы Опыт.работы.на.текущем.месте  Зарплата.в.месяц  \
12                   1             меньше 3 месяцев               800
68                 1.5                          0.5               900
87                 0.5                          0.5               600
114                1.5                          0.5               685
143                  1                            1               750
...                ...                          ...               ...
8546                 5                            1              2000
8625                 4                            1              1750
8635    10 и более лет             меньше 3 месяцев              4000
8673               0.5                          0.5               350
8695                 1                          0.5              1500

      Изменение.зарплаты.за.12.месяцев      Город     Размер.компании  ...  \
12                                 200       Киев       до 50 человек  ...
68                                 900       Киев       до 10 человек  ...
87                                   0       Киев       до 10 человек  ...
114                                250       Киев     до 1000 человек  ...
143                                250       Киев       до 10 человек  ...
...                                ...        ...                 ...  ...
8546                               800  Запорожье       до 50 человек  ...
8625                                 0       Киев  свыше 1000 человек  ...
8635                              1300   Удаленно       до 10 человек  ...
8673                                50       Киев       до 50 человек  ...
8695                              1000       Киев       до 10 человек  ...

     Еще.студент Уровень.английского         Предметная.область  \
12         False       ниже среднего      Веб-разработка,Другое
68          True       выше среднего             Веб-разработка
87          True       выше среднего   Веб-разработка,eCommerce
114        False             средний                     Другое
143         True       выше среднего             Веб-разработка
...          ...                 ...                        ...
8546       False             средний             Веб-разработка
8625       False             средний             Веб-разработка
8635       False       выше среднего             Веб-разработка
8673       False             средний             Веб-разработка
8695       False             средний  Финансы и банки,eCommerce

          Дата.заполнения                                         User.Agent  \
12    12/06/2017 13:05:54  Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...
68    12/06/2017 13:11:17  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
87    12/06/2017 13:12:25  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...
114   12/06/2017 13:14:52  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...
143   12/06/2017 13:19:10  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...
...                   ...                                                ...
8546  10/07/2017 14:11:26  Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_5...
8625  11/07/2017 16:15:40  Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:54....
8635  11/07/2017 17:51:36  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...
8673  12/07/2017 09:37:16  Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:54....
8695  12/07/2017 14:39:21  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...

       exp current_job_exp salary Валюта  cls
12     1.0             0.0    800    NaN  DEV
68     1.5             0.5    900    NaN  DEV
87     0.5             0.5    600    NaN  DEV
114    1.5             0.5    685    NaN  DEV
143    1.0             1.0    750    NaN  DEV
...    ...             ...    ...    ...  ...
8546   5.0             1.0   2000    NaN  DEV
8625   4.0             1.0   1750    NaN  DEV
8635  10.0             0.0   4000    NaN  DEV
8673   0.5             0.5    350    NaN  DEV
8695   1.0             0.5   1500    NaN  DEV

[207 rows x 25 columns]

In [98]:
# Визначте розмір таблиці python_data за допомогою методу shape
shape_trd = python_data.shape
print(shape_trd)

(207, 25)

In [97]:
# Використовуючи метод groupby, виконайте групування за стовпчиком "Посада"
grouped_by_position = python_data.groupby("Должность")
print(grouped_by_position)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x0000021B941A9850>

In [100]:
# Створіть новий DataFrame, де для згрупованих даних за стовпчиком "Посада", виконайте агрегацію даних за допомогою методу agg 
# і знайдіть мінімальне та максимальне значення у стовпчику "Зарплата.в.місяць"
aggregated_data = grouped_by_position['Зарплата.в.месяц'].agg(['min', 'max']).reset_index()
print(aggregated_data)

                  Должность   min   max
0  Junior Software Engineer   100  1250
1  Senior Software Engineer  1300  9200
2         Software Engineer   500  5400
3          System Architect  3000  5000
4            Technical Lead  1425  6200

In [110]:
# Створіть функцію fill_avg_salary, яка повертатиме середнє значення заробітної плати на місяць.
# Використовуйте її для методу apply та створіть новий стовпчик "avg"
# Функція для обчислення середньої зарплати
def fill_avg_salary(aggregated_data):
    return (aggregated_data['min'] + aggregated_data['max']) / 2

# Застосування функції до створення нового стовпчика "avg"
aggregated_data['avg'] = aggregated_data.apply(fill_avg_salary, axis=1)
print(aggregated_data)

                  Должность   min   max     avg
0  Junior Software Engineer   100  1250   675.0
1  Senior Software Engineer  1300  9200  5250.0
2         Software Engineer   500  5400  2950.0
3          System Architect  3000  5000  4000.0
4            Technical Lead  1425  6200  3812.5

In [111]:
# Створіть описову статистику за допомогою методу describe для нового стовпчика.
avg_stats = aggregated_data['avg'].describe()
print(avg_stats)

count       5.000000
mean     3337.500000
std      1700.091909
min       675.000000
25%      2950.000000
50%      3812.500000
75%      4000.000000
max      5250.000000
Name: avg, dtype: float64

In [112]:
# Збережіть отриману таблицю в CSV файл
avg_stats.to_csv('python_data_with_avg.csv', index=False)